version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
        interval: 10s
        timeout: 5s
        retries: 5

  api:
    build: ..
    container_name: semantic_search_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      qdrant:
        condition: service_healthy
    volumes:
      # We install model caches so that they don't have to be downloaded every time.
      - ./data/model_cache:/root/.cache/torch